* {
  font-family: helvetica, Arial, sans-serif;
  text-align: center;
  image-orientation: center;
}


h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.top {
    background-image: url(images/the-flatiron-building.png);
}
